In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.1 MB 2.4 MB/s eta 0:00:07
   -- ------------------------------------- 1.0/16.1 MB 2.4 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/16.1 MB 2.1 MB/s eta 0:00:08
   ----- ---------------------------------- 2.1/16.1 MB 2.0 MB/s eta 0:00:08
   ------ --------------------------------- 2.6/16.1 MB 2.1 MB/s eta 0:00:07
   ------- -------------------------------- 3.1/16.1 MB 2.2 MB/s eta 0:00:06
   --------- ------------------------------ 3.7/16.1 MB 2.2 MB/s eta 0:00:06
   ---------- ----------------------------- 4.2/16.1 MB 2.3 MB/s eta 0:00:06
   ------------ --------------------------- 5.0/16.1 MB 2.4 MB/s eta 0:00:05
   ------------- -------------------------- 5.5/16.1 MB 2.5 MB/s eta 0:00:05
   --------------- ------------------------ 6.3/16.1 MB 2.5 MB/s eta 0:00:04
   ----------------- ---------------------- 7.1/16.1 MB 2.6 MB/s eta 0:00:04
   ------------------ --------------------- 7.6/16.1 MB 2.7 MB/s eta 0:00:04
   -------------------- ------------------- 8.4/16.1 MB 2.7 MB/s eta 0:00:03
   ---------------------- ----------------- 8.9/16.1 MB 2.7 MB/s eta 0:00:03
   ------------------------ --------------- 9.7/16.1 MB 2.8 MB/s eta 0:00:03
   -------------------------- ------------- 10.5/16.1 MB 2.8 MB/s eta 0:00:02
   --------------------------- ------------ 11.0/16.1 MB 2.8 MB/s eta 0:00:02
   ----------------------------- ---------- 11.8/16.1 MB 2.9 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 2.9 MB/s eta 0:00:02
   --------------------------------- ------ 13.4/16.1 MB 2.9 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.1 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 2.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (24.2)
Collecting pip
  Downloading pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-24.3.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/1.8 MB ? eta -:--:--
   ----------- ---------------------------- 0.5/1.8 MB 1.4 MB/s eta 0:00:01
   ----------------------- ---------------- 1.0/1.8 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 1.6/1.8 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 2.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.2
    Uninstalling pip-24.2:
      Successfully uninstalled pip-24.2
Successfully installed pip-24.3.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3GNYKqCbbJtp9c2.root",
  password = "XQYbmm6hIa6n0Hwg",
  database = "FirstDatabase",
)

InterfaceError: 2026 (HY000): SSL connection error: SSL_CTX_set_default_verify_paths failed

In [8]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3GNYKqCbbJtp9c2.root",
  password = "XQYbmm6hIa6n0Hwg",
  database = "FirstDatabase",
)

try:
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You are connected to database: ", record)
except mysql.connector.Error as e:
    print(f"Error connecting to MySQL: {e}")
except:
    print(f"Error connecting to MySQL : ")
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL Connection is closed")

Connected to MySQL Server version  5.7.28-TiDB-Serverless
You are connected to database:  ('FirstDatabase',)
MySQL Connection is closed

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3GNYKqCbbJtp9c2.root",
  password = "XQYbmm6hIa6n0Hwg",
  database = "FirstDatabase",
)

if connection.is_connected():
    print("Connection successful")
    connection.close()
    print("Connection closed")
else:
    print("Connection Failed")

Connection successful
Connection closed

In [18]:
# To establish Connection

import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3GNYKqCbbJtp9c2.root",
  password = "XQYbmm6hIa6n0Hwg",
  database = "FirstDatabase",
)

if connection.is_connected():
    print("Connection successful")
    #connection.close()
    #print("Connection closed")
else:
    print("Connection Failed")

mycursor= connection.cursor()

Connection successful

In [20]:
mycursor.execute("show tables")
for x in mycursor:
    print(x)

('DiabetesData',)
('Employee',)
('Employees',)
('StudentsDB_1',)

In [1]:
mycursor.execute("Create database MyDatabase")

NameError: name 'mycursor' is not defined

In [15]:
mycursor.execute("drop database MyDatabase")

In [19]:
mycursor.execute("""CREATE TABLE FirstDatabase.Employees
                 (id integer(5),
                 name varchar(40),
                 Department varchar(40),
                 salary integer(10))""")

In [22]:
def insert_mulitple_rows(data):
    insert_query = """
    Insert into FirstDatabase.Employees (id, name, department, salary)
    values (%s, %s, %s, %s)"""

    mycursor.executemany(insert_query, data)
    connection.commit() # commit the transaction

    print(f"{mycursor.rowcount} rows were inserted successfully")

employee_data = [
    (1, 'Alice', 'Engineering', 70000),
    (2, 'Bob', 'HR', 75000),
    (3, 'Charlie', 'Marketing', 80000),
    (4, 'Diana', 'Engineering', 60000)
]

insert_mulitple_rows(employee_data)

4 rows were inserted successfully

In [27]:
mycursor.execute("describe FirstDatabase.Employee")
for x in mycursor:
    print(x)

('FirstName', 'varchar(20)', 'YES', '', None, '')
('LastName', 'varchar(20)', 'YES', '', None, '')
('Age', 'int(11)', 'YES', '', None, '')

In [25]:
mycursor.execute("select * from FirstDatabase.Employees")
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[i[0] for i in mycursor.description], showindex="always", tablefmt='psql'))

+----+------+---------+--------------+----------+
|    |   id | name    | Department   |   salary |
|----+------+---------+--------------+----------|
|  0 |    1 | Alice   | Engineering  |    70000 |
|  1 |    2 | Bob     | HR           |    75000 |
|  2 |    3 | Charlie | Marketing    |    80000 |
|  3 |    4 | Diana   | Engineering  |    60000 |
|  4 |    1 | Alice   | Engineering  |    70000 |
|  5 |    2 | Bob     | HR           |    75000 |
|  6 |    3 | Charlie | Marketing    |    80000 |
|  7 |    4 | Diana   | Engineering  |    60000 |
+----+------+---------+--------------+----------+