In [5]:
connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3GNYKqCbbJtp9c2.root",
  password = "XQYbmm6hIa6n0Hwg",
  database = "FirstDatabase",
)

if connection.is_connected():
    print("Connection successful")
    # connection.close()
    # print("Connection closed")
else:
    print("Connection Failed")

NameError: name 'mysql' is not defined

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (9.1.0)

In [14]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3GNYKqCbbJtp9c2.root",
  password = "XQYbmm6hIa6n0Hwg",
  database = "FirstDatabase",
)

if connection.is_connected():
    print("Connection successful")
    #connection.close()
    #print("Connection closed")
else:
    print("Connection Failed")

mycursor= connection.cursor()

Connection successful

In [17]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [18]:
mycursor.execute("select glucose, bloodpressure, outcome, age from FirstDatabase.DiabetesData where outcome = 1 and age <=22" )
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[i[0] for i in mycursor.description], showindex="always", tablefmt='psql'))

+----+-----------+-----------------+-----------+-------+
|    |   glucose |   bloodpressure |   outcome |   age |
|----+-----------+-----------------+-----------+-------|
|  0 |       177 |              60 |         1 |    21 |
|  1 |       142 |              86 |         1 |    22 |
|  2 |       139 |              54 |         1 |    22 |
|  3 |       113 |              64 |         1 |    21 |
|  4 |       131 |              66 |         1 |    22 |
|  5 |       138 |              60 |         1 |    21 |
|  6 |       173 |              84 |         1 |    22 |
|  7 |       104 |              64 |         1 |    22 |
|  8 |       118 |              80 |         1 |    21 |
|  9 |       151 |              90 |         1 |    21 |
| 10 |       188 |              82 |         1 |    22 |
| 11 |       181 |              78 |         1 |    22 |
| 12 |       179 |              50 |         1 |    22 |
| 13 |       199 |              76 |         1 |    22 |
| 14 |       120 |              86 |         1 |    22 |
| 15 |       136 |              70 |         1 |    22 |
+----+-----------+-----------------+-----------+-------+